body {
  background-color: black;
}

p{
  text-align: center;
  font-weight:bold;
  font-size: 20px;
  color:rgb(145, 76, 249, 0.7);
}

.sqrs{
  display: inline-block;
  height:40px;
  width:40px;
  margin:20px;
  background-color: rgb(126, 83, 168);
}


