#recieve1{
    width: 100px
}
#recieve2{
    width: 100px
}
#recieve3{
    width: 200px
}
#recieve4{
    width: 200px
}
#recieve5{
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.flex-container {
    display: flex;
}

.flex-child {
    /* flex: 1; */
    margin-left: 100px;
    border: 10px solid yellow;
}  

.flex-child:first-child {
    margin-right: 10px;
    /* border: 2px solid yellow; */
} 

#recieve2{
    float: left;
}
#recieve1{
    float: left;
}

#wrap{
    /* position: flex; */
    position: relative;
}

/* #inside{
    flex-direction: column;
} */

/* #wrapper1{
    display:flex;
    align-items: center;
    justify-content: center;
} */

#biggest{
    display:flex;
    align-items: center;
    justify-content: center;
}