.container {  
    width: s;  
    height: screenHeight;  
    display: flex;  
    justify-content: center;  
    align-items: center;
    }  

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body{
    background-image: url(street.png);
    background-position: center; /* Center the image */
    
}