#recieve1{
    position: relative;
    width: 100px;
    height:60px;
}
#recieve2{
    position: relative;
    width: 100px;
    height:60px;
}
#recieve3{
    position: relative;
    width: 200px;
}
#recieve4{
    position: relative;
    width: 200px;
}
#recieve5{
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.flex-container {
    display: flex;
}

.flex-child {
    /* flex: 1; */
    margin-left: 100px;
    /* border: 10px solid yellow; */
}  

.flex-child:first-child {
    margin-right: 10px;
    /* border: 2px solid yellow; */
} 

#recieve2{
    float: left;
}
#recieve1{
    float: left;
}

#wrap{
    /* position: flex; */
    position: relative;
}

.bigWrapper{
    flex-direction: column;
}

#inside{
    flex-direction: row;
}

#biggest{
    display:flex;
    align-items: center;
    justify-content: center;
}

/* #button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
#button:hover {
    background-color: #555555;
    color: white;
  }

#send {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
#send:hover {
    background-color: #555555;
    color: white;
  } */

  
  /* CSS */
  .button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

/* .button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
} */