body{
    padding-top:100px;
    background-color:rgb(220, 235, 240);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
}

#btn{
    height: 30px;
    background-color: #a1bee3;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}